<config>
    <modules>
        <Creatuity_MegaMenu>
            <version>0.1.1</version>
        </Creatuity_MegaMenu>
    </modules>
    <global>
        <models>
            <creatuity_megamenu>
                <class>Creatuity_MegaMenu_Model</class>
                <resourceModel>creatuity_megamenu_resource</resourceModel>
            </creatuity_megamenu>
            <creatuity_megamenu_resource>
                <class>Creatuity_MegaMenu_Model_Resource</class>
            </creatuity_megamenu_resource> 
        </models>
        <blocks>
            <creatuity_megamenu>
                <class>Creatuity_MegaMenu_Block</class>
            </creatuity_megamenu>
        </blocks>
        <helpers>
            <creatuity_megamenu>
                <class>Creatuity_MegaMenu_Helper</class>
            </creatuity_megamenu>
        </helpers>
        <resources>
            <creatuity_megamenu_setup>
                <setup>
                    <module>Creatuity_MegaMenu</module>
                    <class>Creatuity_MegaMenu_Model_Resource_Setup</class>
                </setup>
            </creatuity_megamenu_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <creatuity_megamenu>
                    <file>creatuity/megamenu.xml</file>
                </creatuity_megamenu>
            </updates>
        </layout>
        <routers>
            <creatuity_megamenu>
                <use>standard</use>
                <args>
                    <module>Creatuity_MegaMenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </creatuity_megamenu>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <creatuity_megamenu>
                    <file>creatuity/megamenu.xml</file>
                </creatuity_megamenu>
            </updates>
        </layout>
        <events>
            <adminhtml_catalog_category_edit_prepare_form>
                <observers>
                    <creatuity_megamenu>
                        <type>singleton</type>
                        <class>creatuity_megamenu/observer</class>
                        <method>onAdminCatalogCategoryEditPrepareForm</method>
                    </creatuity_megamenu>
                </observers>
            </adminhtml_catalog_category_edit_prepare_form>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <creatuity_megamenu>
                        <type>singleton</type>
                        <class>creatuity_megamenu/observer</class>
                        <method>onAdminhtmlCatalogCategoryTabs</method>
                    </creatuity_megamenu>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_prepare_save>
                <observers>
                    <creatuity_megamenu>
                        <type>singleton</type>
                        <class>creatuity_megamenu/observer</class>
                        <method>onCatalogCategoryPrepareSave</method>
                    </creatuity_megamenu>
                </observers>
            </catalog_category_prepare_save>
        </events>
    </adminhtml>
    <default>
        <creatuity_megamenu>
            <general>
                <module_enabled>1</module_enabled>
                <mobile_size>770</mobile_size>
                <force_click>0</force_click>
                <breadcrumb_link>0</breadcrumb_link>
            </general>
            <thumbnail>
                <width>35</width>
                <height>35</height>
            </thumbnail>
            <slider_image>
                <width>135</width>
                <height>135</height>
            </slider_image>
        </creatuity_megamenu>
    </default>
</config>